In [1]:
from src.stonks.market import StonkMarket

In [2]:
stonks=StonkMarket()

In [3]:
stonks.evaluate()

   num_stonks  num_not_template  total_official  num_filled  percent_done
0        8400              5178           13843       13812         0.998

,num_not_template_wrong,num_nt_wrong_percent,true_positives,tp_percent,false_negatives,fn_percent
0,3874,0.748,8063,0.96,91,0.011

   meme_clf_wrong  wrong_right  wr_percent  wrong_wrong  ww_percent
0             225          175       0.404           50       0.404